<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/listFilm.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% endblock %}
</head>
<body>
{# {% include'header.html.twig' %}
{{ render(controller('AppBundle:User:menu')) }}#}
<nav class="navbar-fixed-top">
    <div class="conteneurNav">
        <a class="lienNav" href="{#{{ path('user_view', {"id":user.id}) }}#}">Mon compte</a>
        <a class="lienNav" href="{{ path('film_list') }}">Films</a>
        <a class="lienNav" href="{{ path('serie_list') }}">Série</a>
        <a class="lienNav" href="{{ path('genre_list') }}">Genre</a>
        <a class="lienNav" href="{{ path('film_search') }}">Recherche</a>
    </div>
    <span class="pseudo">Bonjour {{ app.user.pseudo }}</span>
    <a class="deconnexion" href="{{ path('logout') }}">Déconnexion</a>
</nav>
{% block content"" %}
</body>
</html>