{% extends 'admin/layout.html.twig' %}

{% block content %}

    <div class="add-form">
        <div class="row text-left">
            <h2 class="col-md-6 form-ajout">Ajout de film</h2>
        </div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row titre-acteur">
            <div class="col-md-6 titre">{{ form_row(form.titre) }}</div>
            <div class="col-md-6 acteur">{{ form_row(form.acteur) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6 annee">{{ form_row(form.annee) }}</div>
        </div>
        <div class="description">
            {{ form_row(form.description) }}
        </div>
        <div class="genre">
            {{ form_row(form.genres) }}
        </div>
        <div class="image">
            {{ form_row(form.image) }}
        </div>
        <div class="video">
            {{ form_row(form.video) }}
        </div>
        <button type="submit" class="btn btn-info" id="add-button">Ajouter</button>
        {{ form_end(form) }}

    </div>
{% endblock %}