<nav class="navbar-fixed-top">
    <span class="pseudo" style="">Bonjour {{ app.user.pseudo }}</span>
    <a href="{{ path('logout') }}">Déconnexion</a>
</nav>
<main class="container-fluid">
    <div class="sidenav">
        <div class="profil-admin">
            <img src="{{ asset('image/unicorn.jpeg') }}" alt="">
            <p>{{ user.prenom}} {{ user.nom }}</p>
        </div>
        <div class="menu-side">
            <a href="{{ path('admin_film_list') }}">Liste des films</a>
            <a href="">Liste des séries</a>
            <a href="">Genres</a>
            <a href="">Liste des abonnés</a>
            <a href="">Paramètres</a>
            <a href="">Déconnexion</a>
        </div>
    </div>