{% extends 'admin/layout.html.twig' %}

{% block content %}
<a class="btn" style="background-color: #EE2B47; color: white; margin-top: 55px;" href="{{ path('admin_film_list') }}"> Retour aux Films</a>
    <div class="row" style="width: 75%; position:relative; left: 22.5%; top: -100px;">
        <div class="row" style="margin-bottom: 20px">
            <a href="{{ path('admin_film_list') }}" class="retour-liste">Liste des films</a>
        </div>
        <div class="col-md-8 col-lg-8" style="border: 1px solid lightgray; border-radius: 3px; background-color: white">
            <h1 id="titreFilm">{{ film.titre }}</h1>
            <p><strong>Date de sortie : </strong>{{ film.annee|date("d/m/Y") }}</p>
            {% for genre in film.genres %}
                <p><strong>Genre :</strong> {{ genre.genreCat }}</p>
            {% endfor %}
            <p><strong>Avec : </strong>{{ film.acteur }}</p>
            <p id="description">{{ film.description }}</p>
        </div>
        {% if film.image is not null %}
            <div class="col-md-3 col-lg-3"><img src="{{ path("film_image", {"id":film.id}) }}" height="340px" width="250px" alt="{{ film.titre }}" style="border-radius: 3px"></div>
        {% endif %}
        <div class="row">
            <div class="col-md-12 col-lg-12 videoFilm"><video controls src="{{ path("film_video", {"id":film.id}) }}" height="500px" width="100%"></video></div>
        </div>
    </div>
{% endblock %}