<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/login.css') }}">
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% endblock %}
</head>
<body>
<a href="{{ path('login') }}" ><button id="btnInscription" class="btn">Connexion</button></a>
    <div class="login" id="connexion">
        <h3 id="titreConnexion">Yolunicorn </h3>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="mail">
            {{ form_label(form.nom) }}
            {{ form_errors(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>
        <div class="password">
            {{ form_label(form.prenom) }}
            {{ form_errors(form.prenom) }}
            {{ form_widget(form.prenom) }}
        </div>
        <div class="password">
            {{ form_label(form.age) }}
            {{ form_errors(form.age) }}
            {{ form_widget(form.age) }}
        </div>
        <div class="password">
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="password">
            {{ form_label(form.pseudo) }}
            {{ form_errors(form.pseudo) }}
            {{ form_widget(form.pseudo) }}
        </div>
        <div class="password">
            {{ form_label(form.password) }}
            {{ form_errors(form.password) }}
            {{ form_widget(form.password) }}
        </div>
        <div class="btn-center">{{ form_end(form) }}</div>
    </div>
</body>
</html>



{#

<div id="connexion">
    <form action="{{ path('login') }}" method="post" class="login">
        <h3 id="titreConnexion">Yolunicorn </h3>
        <div class="mail">
            <label for="username">Email</label>
            <input type="text" id="username" name="_username" />
        </div>
        <div class="password">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password" />
        </div>
        <div class="btn-center">
            <button type="submit" class="btn">Inscription</button>
        </div>
    </form>
</div>
#}