{% extends 'layout.html.twig' %}

{% block content %}
    <div style="margin-top: 60px;">
    <h1>Liste USer :</h1>
        {% for user in users %}
            <p>{{ user.nom }}</p>
            <p>{{ user.prenom }}</p>
            <p>{{ user.age }} ans</p>
            <p>Email : {{ user.email }}</p>
            <p>{{ user.pseudo }}</p>
            <hr>
            </div>
    {% endfor %}
{% endblock %}