<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List User Info</title>
</head>
<body>
    <h1>List Info USer :</h1>
    {% for user in users %}
        <p>{{ user.nom }}</p>
        <p>{{ user.prenom }}</p>
        <p>{{ user.age }} ans</p>
        <p>Email : {{ user.email }}</p>
        <p>{{ user.pseudo }}</p>
        <hr>
    {% endfor %}
</body>
</html>