{% extends 'layout.html.twig' %}

{% block content %}
    <div style="margin-top: 60px;">
        <a class="btn" style="background-color: #EE2B47; color: white;" href="{{ path('user_list') }}">Retour aux utilisateurs</a>
    <h1>Info USer :</h1>
        <p>{{ user.nom }}</p>
        <p>{{ user.prenom }}</p>
        <p>{{ user.age }} ans</p>
        <p>Email : {{ user.email }}</p>
        <p>{{ user.pseudo }}</p>

    <a class="btn" style="background-color: #EE2B47; color: white;" href="{{ path('user_edit', {"id":user.id}) }}">Modifier mes informations</a>

    <p>Suppression pour la partie admin uniquement</p>

    <a class="btn" style="background-color: #EE2B47; color: white;" href="{{ path('user_delete', {"id":user.id}) }}">Delete</a>
    </div>
{% endblock %}