<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Détail {{ serie.titre }}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% endblock %}
</head>
<body>
    <h1>{{ serie.titre }}</h1>
    <p>{{ serie.annee|date("d/m/Y") }}</p>
    {% for genre in serie.genres %}
        <p>Genre : {{ genre.genreCat }}</p>
    {% endfor %}
    <p>Acteurs : {{ serie.acteur }}</p>
    <p>{{ serie.description }}</p>

    <a href="{{ path('serie_list') }}">Retour à la liste des series</a>
</body>
</html>