{% extends 'layout.html.twig' %}

{% block content %}
<div style="margin-top: 60px;">
    <a class="btn" style="background-color: #EE2B47; color: white;" href="{{ path('serie_list') }}">Retour à la liste des series</a>
    <h1>{{ serie.titre }}</h1>
    <p>{{ serie.annee|date("d/m/Y") }}</p>
    {% for genre in serie.genres %}
        <p>Genre : {{ genre.genreCat }}</p>
    {% endfor %}
    <p>Acteurs : {{ serie.acteur }}</p>
    <p>{{ serie.description }}</p>
    <p>Nombre de saisons : {{ serie.saisons|length }}</p>
    {% for saison in serie.saisons %}
    <p>Nombre d'episodes : {{ saison.episodes|length }}</p>
    {% endfor %}

    <br>
    <a class="btn" style="background-color: #EE2B47; color: white;" href="{{ path('serie_delete', {"id":serie.id}) }}">Delete</a>
</div>
{% endblock %}